.form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    &__allInputs {
        display: flex;
        flex-direction: column;
    }
    &__header {
        display: flex;
        justify-content: center;
    }
    &__input {
        height: 30px;
        font-size: 16px;
        background-color: lightyellow;
        color: darkblue;
        border-radius: 4px;
    }
}
