.card {
    width: 150px;
    list-style: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: groove 5px blue;
    margin-bottom: 30px;
    background-color: blueviolet;
    margin-right: 15px;
    &:last-child {
        margin-right: 0px;
    }
    &_img {
        width: 120px;
        height: 250px;
        border-radius: 20px;
    }
}
