.modal {
    border-radius: 4px;
    height: 252px;
    width: 516px;
    color: #ffffff;
    background-color: #e74b3b;
    &_header {
        background-color: #d34537;
        font-size: 22px;
        line-height: 50px;
        color: #ffffff;
        font-weight: 500;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 4px 4px 0px 0px;
    }
    &_body {
        text-align: center;
    }
    &_text {
        font-size: 15px;
        line-height: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        color: #ffffff;
        margin-top: 30px;
    }
    &_buttons {
        margin-top: 20px;
        background-color: #b3372b;
        color: #ffffff;
        font-size: 15px;
        width: 100px;
        height: 40px;
        border-radius: 4px;
        line-height: 30px;
        border: none;
        cursor: pointer;
        text-align: center;
        &:first-child {
            margin-right: 30px;
        }
    }
    &_overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal_close_btn {
    cursor: pointer;
    border: none;
    height: 35px;
    width: 35px;
    background: transparent url("../../Images/close-icon.png") no-repeat;
    background-size: cover;
}
