html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: auto;
    margin-left: auto;
    /* width: 1366px; */
    
}
a {
    text-decoration: none;
}
.color-white {
    color: #ffffff;
}
.body {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.header {
    
    width: 1028px;
    margin-top: 46px;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.head-logo {
    display: flex;
}

.head-logo-mn-hs {
    display: flex;
}
.head-logo-hover {
    padding: 5px 8px 9px 0px;
}
.head-logo-orange {
    display: none;
}

.head-logo-milan {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}
.head-logo-holidays {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.head-logo:hover .head-logo-home {
    display: none;
}
.head-logo:hover .head-logo-orange {
    display: block;
}
.head-logo:hover .head-logo-milan {
    color: #f26522;
}
.head-logo:hover .head-logo-holidays {
    color: #f26522;
}
.head-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.head-mail {
    
    font-size: 18px;
    line-height: 18px;
}
.head-phone {
    font-size: 18px;
    line-height: 18px;
}
.head-mail:hover {
    color: #f26522;
}
.head-phone:hover {
    color: #f26522;
}
.main {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    
}
.main-tours {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    row-gap: 37px;
}
.toure {
    
    width: 300px;
    position: relative;
    text-align: center;
}
.toure-img {
    box-sizing: border-box;
    padding: 3px;
    background: linear-gradient(to top, black, white);
}

.img-singature {
    position: absolute;
    display: flex;
    width: 294px;
    height: 55px;
    justify-content: space-between;
    background-color: #f26522;
    top: 165px;
    left: 3px;
    opacity: 0;
}
.toute-singature {
    display: block;
    color:  #ffffff;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
    
}
.price {
    display: block;
    text-align: start;
    font-size: 10px;
    line-height: 10px;
}
.price-from {
    display: block;
    margin: 7px 0px 8px 16px;
}
.price-number {
    display: block;
    font-size: 20px;
    line-height: 20px;
    margin-left: 16px;
}
.details {
    display: block;
    margin-top: 29px;
    font-size: 14px;
    line-height: 14px;
}
.details::after {
    content: url(../images/vector.png);
    color: #ffffff;
    margin-right: 14px;
    margin-left: 16px;
}
.toure:nth-child(1):hover .img-singature {
    opacity: 1;
    transition: 1s;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}
.toure:nth-child(1):hover .toute-singature {
    color: #f26522;
}
.toure:nth-child(2):hover .img-singature {
    opacity: 1;
    transition: 1s;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}
.toure:nth-child(2):hover .toute-singature {
    color: #f26522;
}
.toure:nth-child(3):hover .img-singature {
    opacity: 1;
    transition: 1s;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}
.toure:nth-child(3):hover .toute-singature {
    color: #f26522;
}
.toure:nth-child(4):hover .img-singature {
    opacity: 1;
    transition: 1s;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}
.toure:nth-child(4):hover .toute-singature {
    color: #f26522;
}
.toure:nth-child(5):hover .img-singature {
    opacity: 1;
    transition: 1s;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}
.toure:nth-child(5):hover .toute-singature {
    color: #f26522;
}
.toure:nth-child(6):hover .img-singature {
    opacity: 1;
    transition: 1s;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}
@keyframes slideUp {
    0% {
        transform: translateY(50%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }           
    100% {
        transform: translateY(0%);
    }   
}
@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(50%);
    }
    50%{
        -webkit-transform: translateY(-8%);
    }
    65%{
        -webkit-transform: translateY(4%);
    }
    80%{
        -webkit-transform: translateY(-4%);
    }
    95%{
        -webkit-transform: translateY(2%);
    }           
    100% {
        -webkit-transform: translateY(0%);
    }   
}
.toure:nth-child(6):hover .toute-singature {
    color: #f26522;
}
.footer {
    text-align: center;
    margin-top: 49px;
}
.footer-singature {
    font-size: 12px;
    line-height: 12px;
}