html {
    width: 1280px;
}
ul {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 31.5px 0px 31.5px 330px;
    padding: 0px;
    letter-spacing: 2.7px;
}
li {
    display: inline;
}
a {
    text-decoration: none;
    color: #ff0000;
}
.home {
    margin-right: 72px;
}
.photoapp {
    margin-right: 72px;
}
.design {
    margin-right: 50px;
}
.download {
    margin-right: 0px;
}
body {
    margin: 0px;
}
img {
    width: 1280px;
    height: 789px;
}
h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    color: #373737;
    font-weight: bold;
    
}
.text {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    letter-spacing: 2.4px;
    width: 1145px;
    margin-left: 67.5px;
    color: #373737;
    letter-spacing: 3.3px;
    font-size: 16px;
    line-height: 26px;
    
}
.text1 {
    margin-top: 38px;
    
}
.text2 {
    margin-top: 28px;
}
.button {
    width: 191px;
    height: 51px;
    background: #ff0000;
    border-radius: 4px;
    border: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 3.3px;
    color: #ffffff;
    margin-left: 544.5px;
    margin-top: 66px;
    font-size: 12px;
    letter-spacing: 1.8px;
}
.plast {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 2.4px;
    margin-top: 82px;
    margin-left: 713px;
}