html {
    
    display: block;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    font-size: 80px;
    font-weight: normal;
    font-style: normal;
    color: #4bcaff;
    text-decoration: none;
}
.logo-ra {
    color: #000000;
}
.div-menu1 {
    width: 1280px;
    background-color: #35444F;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    
}
.menu1 {
    display: flex;
    justify-content: center;
}
.menu1-1 {
    border-left: 1px solid #ffffff;
    display: inline-block;
    background-color: #35444F;
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;
    line-height: 100%;
    font-style: normal;
    font-weight: normal;
    
}

.menu1-1-1 {
    padding: 26px 33px 19px 32px;
}
.menu1-1-2 {
    padding: 26px 38px 19px 38px;
}
.menu1-1:hover {
    background-color: #222F3A;
}


.menu1-1-3 {
    padding: 26px 40px 19px 40px;
}
.menu1-1-4 {
    padding: 26px 50px 19px 40px;
    
}
.main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.div {
    display: flex;
}
.menu2 {
    width: 344px;
    height: 395px;
    border: 1px solid #000000;

}
.menu2-2 {
    font-size: 27px;
    line-height: 27px;
    padding-left: 44px;
    padding-top: 26px;
    padding-bottom: 26px;
    color: #495863;
}
.menu2-2:hover {
    background-color: #DBDBDB;
    color: #000000;
    padding-left: 82px;
}
.image-ramka {
    border: 1px solid #000000;
    width: 876px;
    height: 529px;
    margin-left: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    width: 320px;
    height: 381px;
    
    
}
.image:hover {
    transform: scale(1.3);
    transition: 1s;
}
.text1 {
    width: 855px;
    margin-top: 37px;
    color: #2c2c2c;
    font-size: 18px;
    line-height: 24px;
    margin-left: 396px;
    display: block;
}
.text2 {
    float: left;
    width: 855px;
    color: #2c2c2c;
    font-size: 18px;
    line-height: 24px;
    margin-left: 396px;
    margin-top: 34px;
    display: block;
}
.footer {
    width: 1280px;
    
    margin-top: 54px;
    background-color: rgba(99, 105, 110, 0.48);
    
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu3 {
    width: 928px;
    margin-left: 40px;
}
.menu3-3 {
    display: inline;
    font-size: 24px;
    line-height: 85%;
    line-height: 24px;
    text-align: center;
    padding-bottom: 8px;
    margin-right: 40px;
}
.menu3-3:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.copyright {
    font-size: 24px;
    line-height: 85%;
    line-height: 24px;
    padding-left: 65px;
}