@font-face {
    font-family: "Droid Sans";
    src: url(../fonts/droidsans.woff2);
    font-display: swap;
}
body, html {
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: #e0d429;
    background-color: #000000;
    overflow: hidden;
}
.body-parent {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 90%;
    transform: perspective(300px) rotateX(25deg);
}
.body-content {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 1s infinite;
}
@keyframes scroll {
    0% { top: 100%; }
    100% { top: -30%; }
}
h1, h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
p:first-of-type {
    margin-bottom: 30px;
}